doctype=html 
html
    head
        title App test
    body 
        h1 Create your own program
        - for (let i = 1; i <= 7; i++)
            div 
                h3 Day #{i}
                button Add