extends layout.pug 

block scripts 
    script(src="/javascript/create.js")

block content
    h1 Create your own program
    form(action="/create/new", method="POST") 
        h3 Number of days 
        input(type="text" id="days" name="days")
        button(id="create") Create
