extends layout.pug 

block scripts
    script(src="/javascript/new.js") 

block content 
    - for (let i = 1; i <= days; i++)
        div 
            h3 Day #{i} 
            button(class="add") +
    